<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.dao.AdminDao">
	<select id="findAdminByName" resultType="Admin" parameterType="String">
		select * from admin where account=#{username}
	</select>
	
	<select id="getPrice" resultType="Unit_Price">
		select water_price,electricity_price from water_elec_price where id=1
	</select>
	
	<update id="updatePrice" parameterType="Unit_Price">
		update water_elec_price set water_price = #{water_price},
		electricity_price = #{electricity_price} 
		where id=1
	</update>
</mapper>